desktopApp/ProjektovanjeSoftvera/Service References/AdminService/Ekarta_Admin1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ps/Admin" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns="http://schemas.xmlsoap.org/wsdl/" name="Ekarta_Admin" targetNamespace="http://ps/Admin" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://ps/Admin">
      <xsd:complexType name="Application_Model_Popust">
        <xsd:all />
      </xsd:complexType>
      <xsd:complexType name="Application_Model_Stanica">
        <xsd:all>
          <xsd:element name="_idStanica" nillable="true" type="xsd:int" />
          <xsd:element name="_naziv" nillable="true" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Ekarta_AdminIn" />
  <wsdl:message name="setPopustIn">
    <wsdl:part name="object" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getPopustIn">
    <wsdl:part name="id" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="getPopustOut">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="unsetPopustIn">
    <wsdl:part name="object" type="tns:Application_Model_Popust" />
  </wsdl:message>
  <wsdl:message name="setKartaIn">
    <wsdl:part name="object" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getKartaIn">
    <wsdl:part name="id" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="getKartaOut">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="unsetKartaIn">
    <wsdl:part name="idKarta" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="deactivateIn">
    <wsdl:part name="id" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="activateIn">
    <wsdl:part name="id" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="izracunajCenuKarteIn">
    <wsdl:part name="idTrasa" type="xsd:int" />
    <wsdl:part name="idPolazneStanice" type="xsd:int" />
    <wsdl:part name="idDolazneStanice" type="xsd:int" />
    <wsdl:part name="idPopust" type="xsd:int" />
    <wsdl:part name="povratna" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="izracunajCenuKarteOut">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="setStanicaIn">
    <wsdl:part name="object" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="setStanicaOut">
    <wsdl:part name="return" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="getStaniceIn" />
  <wsdl:message name="getStaniceOut">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getStanicuIn">
    <wsdl:part name="id" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="getStanicuOut">
    <wsdl:part name="return" type="tns:Application_Model_Stanica" />
  </wsdl:message>
  <wsdl:message name="unsetStanicaIn">
    <wsdl:part name="id" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="setTrasaIn">
    <wsdl:part name="object" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getTraseIn" />
  <wsdl:message name="getTraseOut">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getTrasuIn">
    <wsdl:part name="id" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="getTrasuOut">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="unsetTrasaIn">
    <wsdl:part name="id" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="setRedVoznjeIn">
    <wsdl:part name="object" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getRedVoznjeIn" />
  <wsdl:message name="getRedVoznjeOut">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getJedanRedVoznjeIn">
    <wsdl:part name="id" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="getJedanRedVoznjeOut">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="proveraDaLiPostojiIn">
    <wsdl:part name="idTrasa" type="xsd:int" />
    <wsdl:part name="dan" type="xsd:int" />
    <wsdl:part name="vreme" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="proveraDaLiPostojiOut">
    <wsdl:part name="return" type="xsd:boolean" />
  </wsdl:message>
  <wsdl:message name="unsetRedVoznjeIn">
    <wsdl:part name="id" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="setOtkazanaVoznjaIn">
    <wsdl:part name="object" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getOtkazaneVoznjeIn" />
  <wsdl:message name="getOtkazaneVoznjeOut">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getOtkazanaVoznjaIn">
    <wsdl:part name="id" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="getOtkazanaVoznjaOut">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="unsetOtkazanaVoznjaIn">
    <wsdl:part name="id" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="setTrasaStanicaIn">
    <wsdl:part name="object" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getTrasaStaniceIn" />
  <wsdl:message name="getTrasaStaniceOut">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getTrasaStanicaIn">
    <wsdl:part name="id" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="getTrasaStanicaOut">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="unsetTrasaStanicaIn">
    <wsdl:part name="id" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="getStaniceZaTrasuIn">
    <wsdl:part name="idTrasa" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="getStaniceZaTrasuOut">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getStaniceZaTrasuPosleIn">
    <wsdl:part name="idTrasa" type="xsd:int" />
    <wsdl:part name="idStanica" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="getStaniceZaTrasuPosleOut">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getVremeZaDatumIn">
    <wsdl:part name="object" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getVremeZaDatumOut">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:portType name="Ekarta_AdminPort">
    <wsdl:operation name="Ekarta_Admin">
      <wsdl:input message="tns:Ekarta_AdminIn" />
    </wsdl:operation>
    <wsdl:operation name="setPopust">
      <wsdl:input message="tns:setPopustIn" />
    </wsdl:operation>
    <wsdl:operation name="getPopust">
      <wsdl:input message="tns:getPopustIn" />
      <wsdl:output message="tns:getPopustOut" />
    </wsdl:operation>
    <wsdl:operation name="unsetPopust">
      <wsdl:input message="tns:unsetPopustIn" />
    </wsdl:operation>
    <wsdl:operation name="setKarta">
      <wsdl:input message="tns:setKartaIn" />
    </wsdl:operation>
    <wsdl:operation name="getKarta">
      <wsdl:input message="tns:getKartaIn" />
      <wsdl:output message="tns:getKartaOut" />
    </wsdl:operation>
    <wsdl:operation name="unsetKarta">
      <wsdl:input message="tns:unsetKartaIn" />
    </wsdl:operation>
    <wsdl:operation name="deactivate">
      <wsdl:input message="tns:deactivateIn" />
    </wsdl:operation>
    <wsdl:operation name="activate">
      <wsdl:input message="tns:activateIn" />
    </wsdl:operation>
    <wsdl:operation name="izracunajCenuKarte">
      <wsdl:input message="tns:izracunajCenuKarteIn" />
      <wsdl:output message="tns:izracunajCenuKarteOut" />
    </wsdl:operation>
    <wsdl:operation name="setStanica">
      <wsdl:input message="tns:setStanicaIn" />
      <wsdl:output message="tns:setStanicaOut" />
    </wsdl:operation>
    <wsdl:operation name="getStanice">
      <documentation>Dohvata sve stanice</documentation>
      <wsdl:input message="tns:getStaniceIn" />
      <wsdl:output message="tns:getStaniceOut" />
    </wsdl:operation>
    <wsdl:operation name="getStanicu">
      <wsdl:input message="tns:getStanicuIn" />
      <wsdl:output message="tns:getStanicuOut" />
    </wsdl:operation>
    <wsdl:operation name="unsetStanica">
      <wsdl:input message="tns:unsetStanicaIn" />
    </wsdl:operation>
    <wsdl:operation name="setTrasa">
      <wsdl:input message="tns:setTrasaIn" />
    </wsdl:operation>
    <wsdl:operation name="getTrase">
      <wsdl:input message="tns:getTraseIn" />
      <wsdl:output message="tns:getTraseOut" />
    </wsdl:operation>
    <wsdl:operation name="getTrasu">
      <wsdl:input message="tns:getTrasuIn" />
      <wsdl:output message="tns:getTrasuOut" />
    </wsdl:operation>
    <wsdl:operation name="unsetTrasa">
      <wsdl:input message="tns:unsetTrasaIn" />
    </wsdl:operation>
    <wsdl:operation name="setRedVoznje">
      <wsdl:input message="tns:setRedVoznjeIn" />
    </wsdl:operation>
    <wsdl:operation name="getRedVoznje">
      <wsdl:input message="tns:getRedVoznjeIn" />
      <wsdl:output message="tns:getRedVoznjeOut" />
    </wsdl:operation>
    <wsdl:operation name="getJedanRedVoznje">
      <wsdl:input message="tns:getJedanRedVoznjeIn" />
      <wsdl:output message="tns:getJedanRedVoznjeOut" />
    </wsdl:operation>
    <wsdl:operation name="proveraDaLiPostoji">
      <wsdl:input message="tns:proveraDaLiPostojiIn" />
      <wsdl:output message="tns:proveraDaLiPostojiOut" />
    </wsdl:operation>
    <wsdl:operation name="unsetRedVoznje">
      <wsdl:input message="tns:unsetRedVoznjeIn" />
    </wsdl:operation>
    <wsdl:operation name="setOtkazanaVoznja">
      <wsdl:input message="tns:setOtkazanaVoznjaIn" />
    </wsdl:operation>
    <wsdl:operation name="getOtkazaneVoznje">
      <wsdl:input message="tns:getOtkazaneVoznjeIn" />
      <wsdl:output message="tns:getOtkazaneVoznjeOut" />
    </wsdl:operation>
    <wsdl:operation name="getOtkazanaVoznja">
      <wsdl:input message="tns:getOtkazanaVoznjaIn" />
      <wsdl:output message="tns:getOtkazanaVoznjaOut" />
    </wsdl:operation>
    <wsdl:operation name="unsetOtkazanaVoznja">
      <wsdl:input message="tns:unsetOtkazanaVoznjaIn" />
    </wsdl:operation>
    <wsdl:operation name="setTrasaStanica">
      <wsdl:input message="tns:setTrasaStanicaIn" />
    </wsdl:operation>
    <wsdl:operation name="getTrasaStanice">
      <wsdl:input message="tns:getTrasaStaniceIn" />
      <wsdl:output message="tns:getTrasaStaniceOut" />
    </wsdl:operation>
    <wsdl:operation name="getTrasaStanica">
      <wsdl:input message="tns:getTrasaStanicaIn" />
      <wsdl:output message="tns:getTrasaStanicaOut" />
    </wsdl:operation>
    <wsdl:operation name="unsetTrasaStanica">
      <wsdl:input message="tns:unsetTrasaStanicaIn" />
    </wsdl:operation>
    <wsdl:operation name="getStaniceZaTrasu">
      <wsdl:input message="tns:getStaniceZaTrasuIn" />
      <wsdl:output message="tns:getStaniceZaTrasuOut" />
    </wsdl:operation>
    <wsdl:operation name="getStaniceZaTrasuPosle">
      <wsdl:input message="tns:getStaniceZaTrasuPosleIn" />
      <wsdl:output message="tns:getStaniceZaTrasuPosleOut" />
    </wsdl:operation>
    <wsdl:operation name="getVremeZaDatum">
      <wsdl:input message="tns:getVremeZaDatumIn" />
      <wsdl:output message="tns:getVremeZaDatumOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Ekarta_AdminBinding" type="tns:Ekarta_AdminPort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="Ekarta_Admin">
      <soap:operation soapAction="http://ps/Admin#Ekarta_Admin" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://ps/Admin" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="setPopust">
      <soap:operation soapAction="http://ps/Admin#setPopust" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://ps/Admin" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="getPopust">
      <soap:operation soapAction="http://ps/Admin#getPopust" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://ps/Admin" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://ps/Admin" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="unsetPopust">
      <soap:operation soapAction="http://ps/Admin#unsetPopust" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://ps/Admin" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="setKarta">
      <soap:operation soapAction="http://ps/Admin#setKarta" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://ps/Admin" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="getKarta">
      <soap:operation soapAction="http://ps/Admin#getKarta" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://ps/Admin" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://ps/Admin" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="unsetKarta">
      <soap:operation soapAction="http://ps/Admin#unsetKarta" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://ps/Admin" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="deactivate">
      <soap:operation soapAction="http://ps/Admin#deactivate" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://ps/Admin" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="activate">
      <soap:operation soapAction="http://ps/Admin#activate" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://ps/Admin" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="izracunajCenuKarte">
      <soap:operation soapAction="http://ps/Admin#izracunajCenuKarte" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://ps/Admin" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://ps/Admin" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setStanica">
      <soap:operation soapAction="http://ps/Admin#setStanica" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://ps/Admin" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://ps/Admin" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStanice">
      <soap:operation soapAction="http://ps/Admin#getStanice" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://ps/Admin" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://ps/Admin" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStanicu">
      <soap:operation soapAction="http://ps/Admin#getStanicu" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://ps/Admin" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://ps/Admin" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="unsetStanica">
      <soap:operation soapAction="http://ps/Admin#unsetStanica" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://ps/Admin" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="setTrasa">
      <soap:operation soapAction="http://ps/Admin#setTrasa" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://ps/Admin" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="getTrase">
      <soap:operation soapAction="http://ps/Admin#getTrase" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://ps/Admin" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://ps/Admin" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTrasu">
      <soap:operation soapAction="http://ps/Admin#getTrasu" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://ps/Admin" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://ps/Admin" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="unsetTrasa">
      <soap:operation soapAction="http://ps/Admin#unsetTrasa" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://ps/Admin" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="setRedVoznje">
      <soap:operation soapAction="http://ps/Admin#setRedVoznje" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://ps/Admin" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="getRedVoznje">
      <soap:operation soapAction="http://ps/Admin#getRedVoznje" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://ps/Admin" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://ps/Admin" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getJedanRedVoznje">
      <soap:operation soapAction="http://ps/Admin#getJedanRedVoznje" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://ps/Admin" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://ps/Admin" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="proveraDaLiPostoji">
      <soap:operation soapAction="http://ps/Admin#proveraDaLiPostoji" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://ps/Admin" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://ps/Admin" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="unsetRedVoznje">
      <soap:operation soapAction="http://ps/Admin#unsetRedVoznje" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://ps/Admin" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="setOtkazanaVoznja">
      <soap:operation soapAction="http://ps/Admin#setOtkazanaVoznja" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://ps/Admin" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="getOtkazaneVoznje">
      <soap:operation soapAction="http://ps/Admin#getOtkazaneVoznje" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://ps/Admin" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://ps/Admin" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getOtkazanaVoznja">
      <soap:operation soapAction="http://ps/Admin#getOtkazanaVoznja" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://ps/Admin" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://ps/Admin" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="unsetOtkazanaVoznja">
      <soap:operation soapAction="http://ps/Admin#unsetOtkazanaVoznja" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://ps/Admin" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="setTrasaStanica">
      <soap:operation soapAction="http://ps/Admin#setTrasaStanica" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://ps/Admin" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="getTrasaStanice">
      <soap:operation soapAction="http://ps/Admin#getTrasaStanice" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://ps/Admin" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://ps/Admin" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTrasaStanica">
      <soap:operation soapAction="http://ps/Admin#getTrasaStanica" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://ps/Admin" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://ps/Admin" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="unsetTrasaStanica">
      <soap:operation soapAction="http://ps/Admin#unsetTrasaStanica" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://ps/Admin" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="getStaniceZaTrasu">
      <soap:operation soapAction="http://ps/Admin#getStaniceZaTrasu" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://ps/Admin" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://ps/Admin" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStaniceZaTrasuPosle">
      <soap:operation soapAction="http://ps/Admin#getStaniceZaTrasuPosle" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://ps/Admin" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://ps/Admin" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getVremeZaDatum">
      <soap:operation soapAction="http://ps/Admin#getVremeZaDatum" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://ps/Admin" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://ps/Admin" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Ekarta_AdminService">
    <wsdl:port name="Ekarta_AdminPort" binding="tns:Ekarta_AdminBinding">
      <soap:address location="http://ps/Admin" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>